.navbar {
  margin-bottom: 0px;
}

.carousel .item {
  max-height: 95vh;
}

#sign_up {
  background-image: url('img/login_signup/login_signup2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#login {
  background-image: url('img/login_signup/login_signup2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#search {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  width: 100%;
}

#vidContainer {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
}

#results {
  overflow: auto;
  background-image: url('img/results/results.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#my_weather {
  background-image: url('img/results/results.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.form-group label {
  color: white;
}

.forms h3 {
  color: white;
}

.error {
  color: red;
}

.success {
  color: green;
}

.panel-heading {
  padding: 0;
}

.panel-heading h3 {
  display: inline;
}

table {
  height: 100vh;
  font-size: 18px;
  background-color: #ffffff94;
  margin-bottom: 0 !important;
}

#tourmaline {
  background-image: url('img/surf/tourmaline1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  cursor: pointer;
}

#delmar {
  background-image: url('img/surf/delmar.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  cursor: pointer;
}

.surf_spots {
  margin: 0;
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
}

.spot_desc {
  color: #ffffff;
  text-align: center;
}
